<footer>
  <div class="lockup clearfix">
    <div class="logo">
      <p><a href="/">My Personal EA</a></p>
    </div>
    <div class="content-wrap">
      <p class="copyright" id="copyright-out">All content copyright 2017</p>
    </div>
  </div>
</footer>
