body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

header {
  height: 450px;
  background: url(../img/croatia_coast.jpg) center center;
  background-size: cover;
}

div.tint {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.2);
  transition: all .3s linear;
}

header h1 {
  font-size: 72px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 25px;
  clear: both;
  padding-top: 100px;
}

header h1 span {
  display: inline-block;
  padding: 0.2em 0.5em;
  border: white solid 10px;
}

header p.kicker {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white;
  line-height: 1;
}

div.logo p {
  font-size: 1.25em;
  margin: 30px 0 0 30px;
  float: left;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(0,0,0,0.7);
}

nav {
  margin: 30px 30px 0 0;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  float: right;
}

nav a {
  text-decoration: none;
  color: rgba(0,0,0,0.7);
  margin-left: 20px;
}

nav a:last-child {
  margin-right: 10px;
}

nav a:hover {
  color: rgba(0, 0, 0, 1);
}
