<section class="homepage-section">
  <h2>Welcome, <%=@user.username%>.</h2>
  <p>Let's connect with some contacts.</p>
  <div class="option-lockup">
    <a href="/interactions/new"><button class="buttons" id="add-interaction-button">Add a new interaction.</button></a>
    <a href="/contacts/new"><button class="buttons" id="create-contact-button">Create a new contact.</button></a>
    <a href="/plans/new"><button class="buttons" id="make-plan-button">Make a new plan.</button></a>
  </div>

  <div class="interaction-wrapper">
    <h4>Most Recent Interactions</h4>

    <% LastInteraction.all.each do |interaction| %>
      <%binding.pry%>
      <% if interaction.contact_id == current_user.id %>

      <% end %>
      <div class="list-divs interactions-list">
        <h4></h4>
      </div>
    <% end %>
  </div>
</section>
