<h1 class="sign-up">Sign Up</h1>

<% if flash.has?(:message)%>
  <p id="error-message"><%=flash[:message]%></p>
<% end %>

<form class="sign-up" action="/users" method="post">
  <label for="username"><span>Username</span></label>
  <input id="username" type="text" name="username">

  <label for="email"><span>Email</span></label>
  <input id="email" type="text" name="email">

  <label for="password"><span>Password</span></label>
  <input id="password" type="text" name="password">

  <input class="submit-button" type="submit" value="Sign Up!">
</form>
