<h1 class="form-headers">New Contact</h1>

<% if flash.has?(:message)%>
  <p id="error-message"><%=flash[:message]%></p>
<% end %>

<form class="form-body" action="/contacts" method="post">
  <label for="name"><span>Name</span></label>
  <input id="name" type="text" name="name">

  <label for="location"><span>Location</span></label>
  <input id="location" type="text" name="location">

  <label for="email"><span>Email</span></label>
  <input id="email" type="text" name="email">

  <label for="phone_number"><span>Phone Number</span></label>
  <input id="phone_number" type="text" name="phone_number">

  <label for="category"><span>Category</span></label>
  <input id="category" type="text" name="category">

  <label for="expertise"><span>Expertise</span></label>
  <input id="expertise" type="text" name="expertise">

  <label for="preferences"><span>Preferences</span></label>
  <input id="preferences" type="text" name="preferences">

  <input class="submit-button" type="submit" value="Create new contact">
</form>
