<header>
  <div>
    <div class="logo">
      <p><a href="/">My Personal EA</a></p>
    </div>

    <nav>
      <a href="/users/<%=current_user.id%>">Me</a>
      <a href="/contacts">Contacts</a>
      <a href="/plans">Plans</a>
    </nav>
</header>
