<header>
  <div class="tint">
    <div class="logo">
      <p><a href="/">My Personal EA</a></p>
    </div>

    <h1><span>My Personal EA</span></h1>
    <p class="kicker">You know a lot of people. Let's stay in touch with them.</p>
  </div>
</header>
