<footer>
  <div class="lockup clearfix">
    <div class="logo">
      <p><a href="/">My Personal EA</a></p>
    </div>
    <div class="content-wrap">
      <nav>
        <a href="/users/<%=current_user.id%>">Me</a>
        <a href="/contacts">Contacts</a>
        <a href="/plans">Plans</a>
      </nav>
      <p class="copyright">All content copyright 2017</p>
    </div>
  </div>
</footer>
