<header>
  <div class="tint">
    <div class="logo">
      <p>My Personal EA</p>
    </div>

    <nav>
      <a href="/users/<%=current_user.id%>">Me</a>
      <a href="/contacts">Contacts</a>
      <a href="/plans">Plans</a>
    </nav>

    <h1><span>My Personal EA</span></h1>
    <p class="kicker">You know a lot of people. Let's stay in touch with them.</p>
  </div>
</header>
